<div class="d-f fd-c h-100">
  <h2 class="ui dividing header">Chat</h2>
  <div id="chat-list" class="ui feed fg-1" style="overflow-y: auto;">
    <div class="event" ng-repeat="chat in chats | orderBy: time track by $index">
      <div class="content" ng-if="differentUser($index)">
        <div class="summary">
          <div class="user">
            {{chat.username}}
          </div>
          <div am-time-ago="{{chat.time}}" class="date"></div>
        </div>
        <div class="extra text">
          {{chat.message}}
        </div>
      </div>
      <div class="content color-black" ng-if="!differentUser($index)">
        {{ chat.message }}
      </div>
    </div>
  </div>
  <div id="chat-input" class="ui fluid input">
    <input type="text" placeholder="Say something..." ng-model="newChat" enter-press="sendChat()">
  </div>
</div>
