<div class="ui card" style="width: 100%; max-height: calc(100vh - 77px);">
  <div class="ui embed {{minimizeVideo ? 'minimized' : ''}}" ng-if="currentVideo().id"></div>
  <div class="content" ng-if="currentVideo().id">
    <span class="right floated">
      <i
        ng-click="likeCurrentVideo()"
        title=""
        class="big heart {{likesCurrentVideo() ? 'red' : 'outline'}} like icon">
      </i>
      <div class="ui toggle checkbox">
        <input type="checkbox" ng-click="toggleVideo()" ng-model="minimizeVideo">
        <label>Minimize Video</label>
      </div>
    </span>
    <a
      ng-href="https://www.youtube.com/watch?v={{currentVideo().key}}"
      target="_blank"
      class="header"
    >
      {{currentVideo().title}} <i class="youtube icon"></i>
    </a>
    <div class="meta">
      <span class="date">Added by <span ng-attr-data-tooltip="{{currentVideo().realuser ? currentVideo().realuser : undefined}}" data-variation="mini" data-inverted="">{{currentVideo().user}}</span></span>
    </div>
  </div>
  <div class="content" ng-if="!currentVideo().id">
    <h2 class="ui center aligned icon header">
      <i class="sound icon"></i>
      No Music Playing
    </h2>
  </div>

  <!-- LISTENERS -->
  <div class="extra content">
    <span style="cursor: pointer;" ng-click="toggleListeners()">
      <i class="{{listenerCount() > 1 ? 'users' : 'user'}} icon"></i>
      {{listenerCount()}} Listener{{listenerCount() > 1 ? 's' : ''}}
      <i class="blue listeners caret right icon" style="display: none;"></i>
      <i class="blue listeners caret down icon"></i>
    </span>
    <div style="float: right;" class="ui toggle checkbox" ng-click="toggleAutoplay()">
      <input type="checkbox" ng-model="autoplay" ng-click="toggleAutoplay()" name="public">
      <label>Autoplay</label>
    </div>
    <i style="float: right;" class="large floated right forward link icon" ng-if="currentVideo().id" ng-click="skip()"></i>
  </div>
  <div class="listeners extra content">
    <span class="item" ng-repeat="user in listenerUsernames() | orderBy: user track by $index" ng-attr-data-tooltip="{{user.realuser ? user.realuser : undefined}}" data-variation="mini" data-inverted="">
      {{user.username}}{{$last ? '' : ', '}}
    </span>
  </div>
</div>
