<div class="ui top attached menu">
  <div class="left menu">
    <div class="item">
      <img src="/images/jukebot.png" />
    </div>
    <div class="item">
      <div class="ui left icon input">
        <input type="text" placeholder="Username..." ng-model="username" enter-press="addVideo()">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="ui search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search YouTube..." style="border-radius: 0;">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <a class="item" onclick="$('.favorites').sidebar('toggle');">
      <i class="red heart icon"></i>
      Favorites
    </a>
  </div>
</div>
