<h2 class="ui dividing header">Viewer</h2>
<div ng-app="app" ng-controller="controller">
  <iframe style="display: block; margin: 0 auto;" width="560" height="315" src="{{getIframeSrc()}}" frameborder="0" allowfullscreen></iframe>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
