<div class="ui grid" ng-app="app" ng-controller="controller">
  <div class="ten wide column">
    <div class="ui segment">
      <div ng-if="currentVideo().id">
        <h2 class="ui dividing header">{{currentVideo().title}}</h2>
        <iframe style="display: block; margin: 0 auto;" width="853" height="480" src="{{getIframeSrc()}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div ng-if="!currentVideo().id">
        <h2 class="ui center aligned icon header">
          <i class="sound icon"></i>
          No Music Playing
        </h2>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <h2 class="ui dividing header">Add Video</h2>
    <div class="ui left corner labeled input">
      <input type="text" placeholder="Username" ng-model="username">
      <div class="ui left corner label">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="ui left corner labeled input">
      <input type="text" placeholder="https://www.youtube.com/watch?v=_hZCsgcKa-g" ng-model="link">
      <div class="ui left corner label">
        <i class="video icon"></i>
      </div>
    </div>
    <button class="ui primary button" ng-click="addVideo()">Add</button>
    <h2 class="ui dividing header">Upcoming</h2>
    <div ng-if="upcoming().length > 0" class="ui one cards">
      <div class="card" ng-repeat="video in upcoming() track by video.id">
        <div class="content">
          <img class="right floated mini ui image" ng-src="{{video.thumbnail}}">
          <div class="header">
            {{video.title}}
          </div>
          <div class="meta">
            Added by {{video.user}}
          </div>
        </div>
      </div>
    </div>
    <h4 ng-if="upcoming().length == 0" class="ui center aligned icon header">
      <i class="video icon"></i>
      <div class="content">No Upcoming Videos</div>
    </h4>
    <h2 class="ui dividing header">Recent</h2>
    <div ng-if="recent().length > 0" class="ui one cards">
      <div class="card" ng-repeat="video in recent() | orderBy: createdAt : true track by video.id">
        <div class="content">
          <img class="right floated mini ui image" ng-src="{{video.thumbnail}}">
          <div class="header">
            {{video.title}}
          </div>
          <div class="meta">
            Added by {{video.user}}
          </div>
        </div>
      </div>
    </div>
    <h4 ng-if="recent().length == 0" class="ui center aligned icon header">
      <i class="history icon"></i>
      <div class="content">No Recent Videos</div>
    </h4>
  </div>
</div>
