<div class="ui grid" ng-app="app" ng-controller="controller">
  <div class="ten wide column">

    <div class="ui card" style="width: 100%;" ng-if="currentVideo().id">
      <div class="ui embed"></div>
      <div class="content">
        <a
          ng-href="https://www.youtube.com/watch?v={{currentVideo().key}}"
          target="_blank"
          class="header"
        >
          {{currentVideo().title}} <i class="youtube icon"></i>
        </a>
        <div class="meta">
          <span class="date">Added by {{currentVideo().user}}</span>
        </div>
      </div>
      <div class="extra content">
        <i class="{{listening > 1 ? 'users' : 'user'}} icon"></i>
          {{listening}} Listener{{listening > 1 ? 's' : ''}}
      </div>
    </div>

    <div ng-if="!currentVideo().id">
      <div class="ui segment">
        <h2 class="ui center aligned icon header">
          <i class="sound icon"></i>
          No Music Playing
        </h2>
      </div>
    </div>

  </div>
  <div class="six wide column">
    <h2 class="ui dividing header">Add Video</h2>
    <div class="ui fluid left corner labeled input" style="padding-bottom: 1em;" enter-press="addVideo()">
      <input type="text" placeholder="https://www.youtube.com/watch?v=_hZCsgcKa-g" ng-model="link">
      <div class="ui left corner label">
        <i class="video icon"></i>
      </div>
    </div>
    <div class="ui left corner labeled input">
      <input type="text" placeholder="Added By" ng-model="username" enter-press="addVideo()">
      <div class="ui left corner label">
        <i class="user icon"></i>
      </div>
    </div>
    <button class="ui primary button" ng-click="addVideo()">Add</button>
    <h2 class="ui dividing header">Upcoming</h2>
    <div ng-if="upcoming().length > 0" class="ui one cards">
      <div class="card" ng-repeat="video in upcoming() track by video.id">
        <a class="ui red right mini corner label" ng-click="remove(video.id)">
          <i class="remove icon" style="cursor: pointer;"></i>
        </a>
        <div class="content">
          <img class="right floated tiny ui image" ng-src="{{video.thumbnail}}">
          <div class="header">
            <a ng-href="https://www.youtube.com/watch?v={{video.key}}" target="_blank">
              {{video.title}}
            </a>
          </div>
          <div class="meta">
            Added by {{video.user}}
          </div>
        </div>
      </div>
    </div>
    <h4 ng-if="upcoming().length == 0" class="ui center aligned icon header">
      <i class="video icon"></i>
      <div class="content">No Upcoming Videos</div>
    </h4>
    <h2 class="ui dividing header">Recent</h2>
    <div ng-if="recent().length > 0" class="ui one cards">
      <div class="card" ng-repeat="video in recent() | orderBy: createdAt : true track by video.id">
        <a class="ui green right mini corner label" ng-click="readd(video.key)">
          <i class="plus icon" style="cursor: pointer;"></i>
        </a>
        <div class="content">
          <img class="right floated tiny ui image" ng-src="{{video.thumbnail}}">
          <div class="header">
            <a ng-href="https://www.youtube.com/watch?v={{video.key}}" target="_blank">
              {{video.title}}
            </a>
          </div>
          <div class="meta">
            Added by {{video.user}}
          </div>
        </div>
      </div>
    </div>
    <h4 ng-if="recent().length == 0" class="ui center aligned icon header">
      <i class="history icon"></i>
      <div class="content">No Recent Videos</div>
    </h4>
  </div>
</div>
