<div class="ui grid" ng-controller="controller">
  <div class="ten wide column">
    <div class="ui card" style="width: 100%;">
      <div class="ui embed" ng-if="currentVideo().id"></div>
      <div class="content" ng-if="currentVideo().id">
        <span class="right floated">
          <i
            ng-click="likeCurrentVideo()"
            title=""
            class="big heart {{likesCurrentVideo() ? 'red' : 'outline'}} like icon">
          </i>
        </span>
        <a
          ng-href="https://www.youtube.com/watch?v={{currentVideo().key}}"
          target="_blank"
          class="header"
        >
          {{currentVideo().title}} <i class="youtube icon"></i>
        </a>
        <div class="meta">
          <span class="date">Added by {{currentVideo().user}}</span>
        </div>
      </div>
      <div class="content" ng-if="!currentVideo().id">
        <h2 class="ui center aligned icon header">
          <i class="sound icon"></i>
          No Music Playing
        </h2>
      </div>
      <div class="extra content">
        <span style="cursor: pointer;" ng-click="toggleListeners()">
          <i class="{{listenerCount() > 1 ? 'users' : 'user'}} icon"></i>
          {{listenerCount()}} Listener{{listenerCount() > 1 ? 's' : ''}}
          <i class="blue listeners caret right icon"></i>
          <i class="blue listeners caret down icon" style="display: none;"></i>
          <i style="float: right;" class="large floated right forward link icon" ng-if="currentVideo().id" ng-click="skip()"></i>
        </span>
      </div>
      <div class="listeners extra content" style="display: none;">
        <span class="item" ng-repeat="user in listenerUsernames() | orderBy: user track by $index">
          {{user}}
        </span>
      </div>
    </div>

    <div ng-if="canShowChromeFlag()">
      <div class="ui divider"></div>
      <div class="ui info ignored message">
        To let JukeBot auto play the next video on Chrome, go to chrome://flags/#disable-gesture-requirement-for-media-playback and disable the flag.
        <i class="close icon" ng-click="hideChromeFlag()"></i>
      </div>
    </div>

  </div>
  <div class="six wide column">
    <h2 class="ui dividing header">Add Video</h2>
    <div class="ui fluid left corner labeled input" style="padding-bottom: 1em;" enter-press="addVideo()">
      <input type="text" placeholder="https://www.youtube.com/watch?v=_hZCsgcKa-g" ng-model="link">
      <div class="ui left corner label">
        <i class="video icon"></i>
      </div>
    </div>
    <div class="ui left corner labeled input">
      <input type="text" placeholder="Added By" ng-model="username" enter-press="addVideo()">
      <div class="ui left corner label">
        <i class="user icon"></i>
      </div>
    </div>
    <button class="ui primary button" ng-click="addVideo()">Add</button>
    <h2 class="ui dividing header">Videos</h2>
    <div ng-if="videos.length > 0" class="ui items">
      <div class="item" ng-repeat="video in videos | orderBy: createdAt track by video.id">
          <div class="ui image">
            <img ng-src="{{video.thumbnail}}">
          </div>
          <div class="content">
            <a class="header" ng-href="https://www.youtube.com/watch?v={{video.key}}" target="_blank">
              {{video.title}}
            </a>
            <div class="meta">
              Added by {{video.user}}
            </div>
            <div class="extra">
              <div class="ui mini right floated red basic button" ng-if="!video.played && !video.playing" ng-click="remove(video.id)">
                Remove
              </div>
              <div class="ui mini right floated green basic button" ng-if="video.played && !video.playing" ng-click="readd(video.key)">
                Add
              </div>
              <div class="ui mini right floated yellow basic button" ng-if="video.playing" ng-click="skip()">
                Skip
              </div>
            </div>
          </div>
      </div>
    </div>
    <h4 ng-if="videos.length == 0" class="ui center aligned icon header">
      <i class="video icon"></i>
      <div class="content">No Videos</div>
    </h4>
  </div>
</div>
