<%- partial('./partials/header.ejs') %>

<div id="main-content">

  <div class="ui grid" style="width: 100%;">
    <div class="ten wide column">
      <div ng-if="canShowChromeFlag()">
        <div class="ui divider"></div>
        <div class="ui warning ignored message">
          To let JukeBot auto play the next video on Chrome, go to <a href="chrome://flags/#disable-gesture-requirement-for-media-playback">chrome://flags/#disable-gesture-requirement-for-media-playback</a> and disable the flag.
          <i class="close icon" ng-click="hideChromeFlag()"></i>
        </div>
      </div>

      <%- partial('./partials/currently-playing.ejs') %>

    </div>
    <div class="six wide column">
      <%- partial('./partials/videos.ejs') %>
    </div>

  </div>
</div>
