<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'JukeBot' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="ui segment">
      <h1 class="ui header">
        <i class="exchange icon"></i>
        <div class="content">
          JukeBot
          <div class="sub header">Slack-enabled Syncronized Music Listening</div>
        </div>
      </h1>
    </div>
    <div class="ui segment" style="margin: 1rem;">
      <%- body %>
    </div>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
