<div class="d-f fd-c h-100">
  <h2 class="ui dividing header">Chat
    <div class="ui toggle checkbox">
      <input
        type="checkbox"
        ng-model="$root.profile.chatNotifications"
        name="public-chat"
      >
      <label>Notifications</label>
    </div>
  </h2>
  <div id="chat-list" class="ui feed fg-1" style="overflow-y: auto; word-break: break-word;">
    <div class="event" ng-repeat="chat in $ctrl.getChats() | orderBy: time track by $index">
      <div class="content" ng-if="$ctrl.showUsername(chat)">
        <div class="summary">
          <div class="user" ng-attr-data-tooltip="{{chat.type == 'user' && chat.realuser ? chat.realuser : undefined}}" data-variation="mini" data-inverted="">
            {{chat.type == 'user' ? chat.username : 'JukeBot'}}
          </div>
          <div am-time-ago="{{$ctrl.getTime(chat)}}" class="date"></div>
        </div>
        <div class="extra text chat {{chat.type === 'user' ? '' : 'content minimal'}}">
          <heart video="$ctrl.getVideoByKey(chat.data)" ng-if="chat.type === 'favorite'"></heart>
          <i class="plus icon" ng-if="chat.type === 'addVideo'"></i>
          <i class="remove icon" ng-if="chat.type === 'removeVideo'"></i>
          <i class="play icon" ng-if="chat.type === 'videoPlaying'"></i>
          <i class="fast forward icon" ng-if="chat.type === 'videoSkipped'"></i>
          <i class="user icon" ng-if="chat.type === 'userEnter'"></i>
          <i class="eject icon" ng-if="chat.type === 'userLeft'"></i>
          <span ng-bind-html="chat.message | linky: '_blank'"></span>
        </div>
      </div>
      <div class="content chat {{chat.type === 'user' ? '' : 'content minimal'}}" ng-if="!$ctrl.showUsername(chat)">
        <heart video="$ctrl.getVideoByKey(chat.data)" ng-if="chat.type === 'favorite'"></heart>
        <i class="plus icon" ng-if="chat.type === 'addVideo'"></i>
        <i class="remove icon" ng-if="chat.type === 'removeVideo'"></i>
        <i class="play icon" ng-if="chat.type === 'videoPlaying'"></i>
        <i class="fast forward icon" ng-if="chat.type === 'videoSkipped'"></i>
        <i class="user icon" ng-if="chat.type === 'userEnter'"></i>
        <i class="eject icon" ng-if="chat.type === 'userLeft'"></i>
        <span ng-bind-html="chat.message | linky: '_blank'"></span>
      </div>
    </div>
  </div>
  <i class="content minimal" style="min-height: 1.5em;">
    {{$ctrl.typers}}
  </i>
  <div id="chat-input" class="ui fluid input" style="min-height: 2.5em;">
    <input
      type="text"
      placeholder="Say something..."
      ng-model="$ctrl.newChat"
      enter-press="$ctrl.sendChat()"
      ng-change="$ctrl.typingDebounce()">
  </div>
</div>
