<div class="d-f fd-c h-100">
  <h2 class="ui dividing header">Chat
    <div class="ui toggle checkbox">
      <input
        type="checkbox"
        ng-model="$ctrl.notifications"
        ng-change="$ctrl.toggleChat($ctrl.notifications)"
        name="public-chat"
      >
      <label>Notifications</label>
    </div>
  </h2>
  <div id="chat-list" class="ui feed fg-1" style="overflow-y: auto; word-break: break-all;">
    <div class="event" ng-repeat="chat in $ctrl.chats | orderBy: time track by $index">
      <div class="content minimal" ng-if="chat.type !== 'user'">
        {{ chat.message }}
      </div>
      <div class="content" ng-if="chat.type == 'user' && $ctrl.differentUser($index)">
        <div class="summary">
          <div class="user">
            {{chat.username}}
          </div>
          <div am-time-ago="{{chat.time}}" class="date"></div>
        </div>
        <div class="extra text" ng-bind-html="$ctrl.formatMessage(chat.message)"></div>
      </div>
      <div class="content color-black" ng-if="chat.type == 'user' && !$ctrl.differentUser($index)" ng-bind-html="$ctrl.formatMessage(chat.message)"></div>
    </div>
  </div>
  <div id="chat-input" class="ui fluid input" style="min-height: 30px;">
    <input
      type="text"
      placeholder="Say something..."
      ng-model="$ctrl.newChat"
      enter-press="$ctrl.sendChat()">
  </div>
</div>
