<div class="ui top attached tabular menu">
  <div style="cursor: pointer;"
    ng-click="$ctrl.setTab('up-next')"
    ng-class="($ctrl.activeTab==='up-next') ? 'active item' : 'item'"
  >
    Up Next
    <div class="ui toggle checkbox pl-8">
      <input
        type="checkbox"
        ng-model="$root.profile.videoNotifications"
        name="public-chat"
      >
      <label></label>
    </div>
  </div>
  <div style="cursor: pointer;"
    ng-click="$ctrl.setTab('related')"
    ng-class="($ctrl.activeTab==='related') ? 'active item' : 'item'"
  >
    Related
  </div>
</div>

<div id="video-list" class="ui items bottom attached active tab segment">
  <playlistitem
    class="item"
    video="video"
    show-expected-playtime=true
    show-added-by=true
    is-suggestion=false
    can-scroll=true
    ng-if="$ctrl.activeTab==='up-next'"
    ng-repeat="video in $ctrl.getVideos() | orderBy: createdAt track by video.id">
  </playlistitem>

  <playlistitem
    class="item"
    video="video"
    show-expected-playtime=false
    show-added-by=false
    is-suggestion=true
    can-scroll=false
    ng-if="$ctrl.activeTab==='related'"
    ng-repeat="video in $ctrl.relatedVideos | orderBy: createdAt track by video.key">
  </playlistitem>

  <h4 ng-if="$ctrl.getVideos().length == 0" class="ui center aligned icon header">
    <i class="video icon"></i>
    <div class="content">No Videos</div>
  </h4>
</div>
