<div class="ui top attached tabular menu">
  <div
    ng-click="$ctrl.setTab('up-next')"
    ng-class="($ctrl.activeTab==='up-next') ? 'active item' : 'item'"
  >
    Up Next
  </div>
  <div
    ng-click="$ctrl.setTab('related')"
    ng-class="($ctrl.activeTab==='related') ? 'active item' : 'item'"
  >
    Related
  </div>
</div>
<div id="video-list" ng-if="$ctrl.getVideos().length > 0" class="ui items bottom attached active tab segment">
  <div class="ui toggle checkbox">
    <input
      type="checkbox"
      ng-model="$ctrl.notifications"
      ng-change="$ctrl.toggleNotifications($ctrl.notifications)"
      name="public-chat"
    >
    <label>Notifications</label>
  </div>
  <playlistitem
    username="$ctrl.username"
    class="item"
    video="video"
    scroll-to-bottom="$ctrl.scrollToBottom()"
    ng-repeat="video in $ctrl.getVideos() | orderBy: createdAt track by video.id">
  </playlistitem>
</div>
<h4 ng-if="$ctrl.getVideos().length == 0" class="ui center aligned icon header">
  <i class="video icon"></i>
  <div class="content">No Videos</div>
</h4>
