<div class="ui image" ng-if="$ctrl.video.thumbnail">
  <img ng-src="{{$ctrl.video.thumbnail}}">
</div>
<div class="content">
  <a class="header" ng-href="https://www.youtube.com/watch?v={{$ctrl.video.key}}" target="_blank">
    {{$ctrl.video.title}}
  </a>
  <div class="meta">
    <div ng-if="$ctrl.showAddedBy">
      Added by {{$ctrl.video.user}}
    </div>
    ({{$ctrl.formatDuration()}})
  </div>
  <div class="meta" ng-if="!$ctrl.video.played && !$ctrl.video.playing && !$ctrl.isSuggestion">
    <i class="calendar icon"></i> {{$ctrl.expectedPlayTime()}}
  </div>
  <div class="extra">
    <heart video="$ctrl.video" classes="'large'"></heart>
    <div
      class="ui mini right floated red basic button"
      ng-if="!$ctrl.video.played && !$ctrl.video.playing && !$ctrl.isSuggestion"
      ng-init="$ctrl.log('In template: '+ $ctrl.isSuggestion)"
      ng-click="$ctrl.remove()">
      Remove
    </div>
    <div
      class="ui mini right floated green basic button"
      ng-if="$ctrl.video.played && !$ctrl.video.playing || $ctrl.isSuggestion"
      ng-click="$ctrl.readd()">
      Add
    </div>
    <div
      class="ui mini right floated yellow basic button"
      ng-if="$ctrl.video.playing"
      ng-click="$ctrl.skip()">
      Skip
    </div>
  </div>
</div>
