/* JukeBot Styles */

#video-list {
  height: calc(100vh - 130px);
  overflow-y: auto;
}

#main-content {
  padding: 8px;
  height: calc(100vh - 55px);
}
#main-content .ui.grid {
  width: 100%;
  height: calc(100% + 16px);
  position: relative;
  top: 6px;
}

input, .ui.action.input > .button, .ui.action.input > .buttons > .button {
  height: 34px!important;
}

.ui.favorites input, .ui.favorites .action > .button {
  border-radius: 0!important;
}

.highlight {
  background-color: #fff3b8;
}

.content.minimal {
  font-style: italic;
  opacity: 0.5;
}

.ui.items > .item {
  margin: 0;
  padding: .5em;
}

.ui.dividing.header .ui.toggle.checkbox {
  top: 7px;
  float: right;
}

.ui.item.no-border::before {
  width: 0;
}

.ui.embed.minimized {
  width: 25%;
  padding-bottom: 14.0625%;
  margin-left: 37.5%;
}

.ui.left.sidebar, .ui.right.sidebar {
  width: 500px!important;
}

.d-f {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fg-1 {
  flex-grow: 1;
}

.h-100 {
  height: 100%;
}

.pl-8 { padding-left: 8px; }
