/* JukeBot Styles */

.listeners span + span:before {
  content: ', ';
}

#video-list {
  height: calc(100vh - 130px);
  overflow-y: auto;
}

#main-content {
  padding: 8px;
  height: calc(100vh - 55px);
}

.ui.items > .item {
  margin: 0;
  padding: .5em;
}

.items > .item:hover {
  background-color: #F0F0F0;
}
